/* 
  you can have your global css here if needed
*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(-10px);
    animation-timing-function: ease-in-out;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 1s ease forwards;
}

.animate-slideInFromRight {
  animation: slideInFromRight 1s ease forwards;
}
